body {
    background-color: #2F3136;
}

.body{
    padding-left: 10vw; 
    padding-right: 10vw; 
    padding-top: 15px;
    padding-bottom: 15px;
}

.card {
    background-color: #DAEDED; 
    border-width: 2px; 
    border-color: black;
    margin: 15px;
}

.card-horizontal {
    background-color: #DAEDED; 
    border-width: 2px; 
    border-color: black;
    margin: 15px;
    display: flex;
    flex: auto; 
    flex-flow: row wrap;
}

#logo {
    width: 100%;
}

#image {
    width: flex;
    max-width: 600px;
    height: flex;
    max-height: 600px;
}